# api网关 外部转发
server {
    listen       80;
    server_name  api.ark.com;

    location / {
        proxy_pass   http://${ARK_GATEWAY_SERVICE}/;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }
}